.btn-load {
    background-image: url("../img/ic_get_app_24dp.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 6% 50%;
    /* background-color: #fff; */
    cursor: pointer;
    display: inline-block;
    padding: 10px 18px 9px 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 100;
}

.btn-load:hover, .btn-load:focus {
    background-image: url("../img/ic_get_app_24dp_white.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 6% 50%;
  }
