
<div class='award'>
	<h3>
		Selected Award
	</h3>
	<ul >
		<li>Second Price in China Graduate AI Innovation Competition (Dec. 2021. Team leader, 2% awarded <30/1505>.)</li>
	        <li>ZHIXING Scholarship (or President Scholarship) of BJTU (Jun. 2021, the greatest honor for the graduate students at BJTU. 1‰ awarded.)</li>
		<li>China National Scholarship (Oct. 2021, Oct. 2020. 2% awarded.)</li>
		<li>China Scholarship Council (CSC) Scholarship (Aug. 2020)</li>
		<li>PhD Innovation Fund of BJTU (May. 2020)</li>
		<li>First-class PhD academic scholarship of BJTU (Oct. 2019, Oct. 2018)</li>
		<li>First-class graduate students academic scholarship of BJTU (Oct. 2017)</li>
		<li>First Prize in Shaanxi Province Programming Competition (Jun. 2015)</li>
	</ul>
	
	<h3>
		Professional Activities
	</h3>
	
	<h4>
		<a name='reviewer'></a> Reviewer
	</h4>
	
	<ul >
		<li>International Journal of Computer Vision (IJCV)</li>
		<li>IEEE Transactions on Image Processing (TIP)</li>
		<li>IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR) 2022</li>
		<li>European Conference on Computer Vision (ECCV) 2022</li>
		<li>International Conference on Computer Vision (ICCV) 2021</li>
		<li>International Conference on Multimedia and Expo (ICME) 2021</li>
		<li>IEEE Winter Conference on Applications of Computer Vision (WACV) 2022</li>
	</ul>
	
</div>


