
<div class='award'>
	<h3>
		Selected Award
	</h3>
	<ul >
		<li>Winner of the MVL Challenge on OmniCV workshop at CVPR2023 (Jun. 2023)</li>
		<li>Second Price in China Graduate AI Innovation Competition (Dec. 2021. Team leader, 2% awarded.)</li>
	        <li>ZHIXING Scholarship (or President Scholarship) of BJTU (Jun. 2021, the greatest honor for the graduate students at BJTU. 0.1% awarded.)</li>
		<li>China National Scholarship (Oct. 2021, Oct. 2020. 2% awarded.)</li>
	</ul>
	
	<h3>
		Professional Activities
	</h3>
	
	<h4>
		<a name='reviewer'></a> Reviewer
	</h4>
	
	<ul >
		<li>International Journal of Computer Vision (IJCV)</li>
		<li>IEEE Transactions on Image Processing (TIP)</li>
		<li>IEEE Transactions on Visualization and Computer Graphics (TVCG) </li>
		<li>IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR) 2022, 2023</li>
		<li>European Conference on Computer Vision (ECCV) 2022</li>
		<li>International Conference on Computer Vision (ICCV) 2021, 2023</li>
		<li>Neural Information Processing Systems (NeurIPS) 2023</li>
		<li>International Conference on Learning Representations (ICLR) 2024</li>
		<li>AAAI Conference on Artificial Intelligence (AAAI) 2023, 2024</li>
	</ul>
	
	<h4>
		<a name='talk'></a> Talk
	</h4>
	
	<ul >
		<li>"Towards Complete Scene and Regular Shape for Distortion Rectification by Curve-Aware Extrapolation", Graduate academic forum of Chinese Journal of Image and Graphics, Sep. 2021</li>
		<li>"Wide Field of View (FoV) Computer Vision", UT Austin, Apr. 2022</li>
		<li>"Wide Field of View (FoV) Computer Vision and Beyond", BJTU, May. 2022</li>
	</ul>
	
		<h4>
		<a name='blog'></a> Blog
	</h4>
	
	<ul >
		<li><a href="https://www.zhihu.com/column/self-driving-visual-perception">Self Driving and Visual Perception</a></li>
		<li><a href="https://mp.weixin.qq.com/s/rkbC0OsERu4tKsnTSDeGBw">Future trend of computer vision: a detailed explanation of five major trends</a></li>
	</ul>
	
</div>


