
<div class='award'>
	<h3>
		Selected Awards
	</h3>
	<ul >
		<li>Winner of the MVL Challenge on <a href="https://mvlchallenge.github.io/">OmniCV workshop</a> at CVPR2023 (Jun. 2023)</li>
		<li>Outstanding Doctoral Graduates of Beijing (Jun. 2023)</li>
	    <li>ZHIXING Scholarship (or President Scholarship) of BJTU (Jun. 2021)</li>
		<li>China National Scholarship (Oct. 2021, Oct. 2020)</li>
	</ul>
	
	<h3>
		Professional Activities
	</h3>

	<h4>
		<a name='area chair'></a> Area Chairs
	</h4>

	<ul >
		<li>CVPR 2026</li>
		<li>NeurIPS 2025</li>
		<li>ICASSP 2026</li>
		<li>IJCNN 2025-2026</li>

	</ul>

	<h4>
		<a name='co-organizer'></a> Co-organizers
	</h4>

	<ul >
		<li><a href="https://mipi-challenge.org/MIPI2025/">4th Mobile Intelligent Photograph and Imaging Workshop (MIPI)</a>, ICCV 2025</li>

	</ul>
	
	<h4>
		<a name='reviewer'></a> Reviewers
	</h4>
	
	<ul >
		<li>Journals: IJCV, TIP, TVCG, TMI, TMLR, TCSVT</li>
		<li>Conferences: CVPR, ICCV, ECCV, ICLR, ICML, NeurIPS (<a href="https://neurips.cc/Conferences/2024/ProgramCommittee">Top Reviewer in 2024</a>), AAAI, ICRA</li>
	</ul>
	
	<h4>
		<a name='talk'></a> Talks
	</h4>
	
	<ul >
		<li>"Diffusion Model as a New Domain Adapter", Nanjing University, Dec. 2024</li>
		<li>"Wide Field of View (FoV) Computer Vision", UT Austin, Apr. 2022</li>
		<li>"Wide Field of View (FoV) Computer Vision and Beyond", BJTU, May. 2022</li>
		<li>"Towards Complete Scene and Regular Shape for Distortion Rectification by Curve-Aware Extrapolation", Graduate academic forum of Chinese Journal of Image and Graphics, Sep. 2021</li>
	</ul>
	
</div>


