<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/Kang.jpg" alt="photo"/ height="270" width="110">
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Kang Liao 廖康
			</h3>
			<p>
			 I am currently a Research Fellow at the <a href="https://www.mmlab-ntu.com/">MMLab@NTU</a>, <a href="https://www.ntu.edu.sg/s-lab">S-Lab</a>, and working with Prof. <a href="https://www.mmlab-ntu.com/person/ccloy/">Chen Change Loy</a>, Nanyang Technological University (NTU), Singapore.
			 Before joining NTU, I obtained my Ph.D. degree in 2023 at Beijing Jiaotong University (BJTU) in <a href="http://mepro.bjtu.edu.cn/researcher.html"> MePro</a>, advised by Prof. <a href="http://faculty.bjtu.edu.cn/8549/">Chunyu Lin</a> and Prof. <a href="http://mepro.bjtu.edu.cn/zhaoyao/e_index.htm">Yao Zhao</a>. 
			 I was a visiting scholar at Max Planck Institute for Informatics (MPII) in <a href="https://www.mpi-inf.mpg.de/departments/computer-graphics">Computer Graphics Department</a> advised by <a href="https://cam.mpi-inf.mpg.de/?view=people_vahid">Vahid Babaei</a> and Prof. <a href="https://people.mpi-inf.mpg.de/~hpseidel/">Hans-Peter Seidel</a> (Oct. 2021 - Oct. 2022).
		        </p>
			<p>
			
			<h3>
			Research Interests 
			</h3> 
			My research interest lies at the intersection of Computer Vision and Deep Learning. In particular, my work focuses on computational imaging and photography, generative models, 3D vision, 360° panoramic scene understanding, etc.
			</p>
			
			<h3 style="padding-top:-5px"></h3>
			
			{% if site.email %}
				 <a href="mailto: {{kang.liao@ntu.edu.sg}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			{% if site.website_github %}
				 <a href="https://github.com/KangLiao929" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website_github}}</a>
			{% endif %}		
 			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	                {% if site.website_google %}
				 <a href="https://scholar.google.com/citations?user=YmmfEBwAAAAJ&hl=zh-CN" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website_google}}</a>
			{% endif %}
			
	</div>
</div>
