<div class='news'>
	<h3> News</h3>
	<ul>
		  <li><i class="fa fa-flag"  color="#FF0000"
	          aria-hidden="true"></i>2022/03 -- One paper has been accepted by CVPR 2022.</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
	          aria-hidden="true"></i>2022/01 -- One paper has been accepted by IEEE VR 2022.</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
	          aria-hidden="true"></i>2021/10 -- One paper has been accepted by IEEE TCSVT.</li>
	          <li><i class="fa fa-flag"  color="#FF0000"
	          aria-hidden="true"></i>2021/09 -- One paper has been accepted by IEEE TCSVT.</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>2021/07 -- Two papers have been accepted by ICCV 2021.</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>2021/06 -- I was selected for BJTU Top Grade Scholarship - ZHIXING Scholarship (10 graduates per year).</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>2021/06 -- One paper has beed accepted by IEEE TIP.</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>2021/03 -- One paper has beed accepted by CVPR 2021.</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>2021/02 -- One paper has beed accepted by IEEE TIP.</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>2021/01 -- One paper has beed accepted by IEEE TITS.</li>
	</ul>
</div>
